<style>
    .raffle-winner-container {
        text-align: center;
    }
    .raffle-winner-container h5 {
        margin-bottom: 30px;
    }
</style>

<div class="raffle-winner-container">

    <h5>Raffle Winner:</h5>
    <p>
        
        <%= winner %>
    </p>
</div>