    <style>
        #mainMenu {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            padding-top: 50px;
            background: #ecf0f3;
            backdrop-filter: blur(4px);
        }
        #searchForm {
            width: 100%;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        #searchForm form {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
        #searchForm input {
            width: 80%;
            padding: 5px;
            background: #ecf0f3;
            box-shadow: -4px -4px 6px #cbced1, 4px 4px 6px #ffffff;
            border-radius: 6px;
        }
        
        #searchForm input::placeholder {
            color: lightskyblue;
        }

        #searchForm button {
            width: 15%;
            padding: 5px;
            border: none;
            outline: none;
            color: lightskyblue;
            font-size: 1.2rem;
            background: #ecf0f3;
            box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
            border-radius: 6px;
        }
        .main-menu-item {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 16px;
            text-align: center;
            background: #ecf0f3;
            box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
            border-radius: 8px;
        }
        .product-menu-item {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 16px;
            text-align: center;
            background: #ecf0f3;
            box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
            border-radius: 8px;
        }
        
        #productMenu {
         min-height: 100vh;   
         padding-top: 120px;
        }

    #productMenu span {
        color: rgba(135, 206, 250, 0.25);
        width: 50px;
        height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    #productMenu i {
        text-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
        color: lightskyblue;
        font-size: 1.3rem;
    }
    .fade {
        transition: ease-in opacity 2s;
    }

    .overlay2 {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 99960;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background: #ecf0f3;
    }

    .overlay2-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
    }
    
    .overlay2 p {
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Rock Salt', cursive;
        color: lightskyblue;
        text-shadow: 0 0 5px rgba(127, 198, 241, 0.5);
        display: block;
        transition: ease-in 0.5s;
        
    }
    .overlay2 a {
        padding: 5px;
        text-decoration: none;
        font-size: 1.5rem;
        font-family: 'Rock Salt', cursive;
        color: lightskyblue;
        text-shadow: 0 0 5px rgba(127, 198, 241, 0.5);
        display: block;
        transition: ease-in 0.5s;
    }

    .overlay2 a:hover,
    .overlay2 a:focus {
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 0 0 8px rgba(135, 206, 250, 0.75);
        transition: ease-in 0.5s;
    }

    .overlay2 .closeproductbtn {
        position: absolute;
        top: 45px;
        right: 55px;
        font-size: 2rem;
        padding: 8px;
        font-size: 2.2rem;
        z-index: 99961;
        color: lightskyblue;
    }

@media screen and (orientation : landscape) {
            #mainMenu {
                padding-top: 55px;
                padding-bottom: 50px;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
            }
    
            .main-menu-item {
                border-radius: 6px;
                width: 40%;
            }
    
        }
    </style>
    
    <div id="mainMenu">
        <div id="searchForm">
            <form action="" method="post">
                <input type="search" name="query_term" placeholder="Search... (not connected yet)">
                <button type="submit">Go</button>
            </form>
        </div>

        <div class="main-menu-item"><a href="/">Home</a></div>
        <div class="main-menu-item"><a href="/about">Our Mission</a></div>
        <div class="main-menu-item"><p>Products <span onclick="openProductsNav()"><i id="openProduct" class="fas fa-caret-right"></i></span></p></div>
        <div class="main-menu-item"><a href="/#">Contact Us</a></div>
        <div class="main-menu-item"><a href="/#">Social</a></div>
        <div class="main-menu-item"><a href="/#">Help</a></div>

    </div>



    <div id="productNav" class="overlay2">
        <a href="javascript:void(0)" class="closeproductbtn" onclick="closeProductNav()"><i class="fas fa-caret-left"></i></a>
        <div id="productMenu">
            <div class="product-menu-item"><a href="/#">Gentlemen</a></div>
            <div class="product-menu-item"><a href="/#">Ladies</a></div>
            <div class="product-menu-item"><a href="/#">Damn Kids...</a></div>
            <div class="menu-break-line">
                <hr>
            </div>
            <div class="product-menu-item"><a href="/#">Footwear</a></div>
            <div class="product-menu-item"><a href="/#">Tops</a></div>
            <div class="product-menu-item"><a href="/#">Bottoms</a></div>
            <div class="product-menu-item"><a href="/#">Outdoor</a></div>
            <div class="product-menu-item"><a href="/#">Athletic</a></div>
            <div class="product-menu-item"><a href="/#">Hats</a></div>
            <div class="product-menu-item"><a href="/#">Accessories</a></div>
        </div>
    </div>
    
    
    
    <script>
        function openProductsNav() {
            document.getElementById("productNav").style.width = "100%";
            document.getElementById("openProduct").style.opacity = 0;
            let oldMenu = document.getElementById("rootNav").removeChild[0];
            console.log(`Old Menu: ${oldMenu.children}`)
        }
        
        function closeProductNav() {
            document.getElementById("productNav").style.width = "0%";
            document.getElementById("openProduct").style.opacity = 1;
        }

        
    </script>