<style>
    .social-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        width: 100%;
    }
    .social-item {
        padding: 10px;
        display: flex;
        width: 90%;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }
    .social-item i {
        color: #555;
        font-size: 1.5rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    .social-item a {
        text-decoration: none;
        color: lightskyblue;
        font-size: 1.3rem;
    }
</style>

<div class="page-title">
    <h1>Contact Us</h1>
</div>

<div class="site-logo-big">
    <img src="/images/logo_1a1a1c.png" alt="">
</div>



<div class="social-container">
    <div class="social-item">    
        <i class="fab fa-facebook"></i>
        <p> <a href="https://www.facebook.com">Facebook Link</a></p>
    </div>
    <div class="social-item">    
        <i class="fab fa-instagram"></i>
        <p> <a href="https://www.instagram.com">Instagram Link</a></p>
    </div>
    <div class="social-item">    
        <i class="fab fa-snapchat-ghost"></i>
        <p> <a href="https://snapchat.com">Snapchat Link</a></p>
    </div>
    
</div>

<div class="social-container">
    <div class="social-item">    
        <i class="fas fa-phone-alt"></i>
        <p> <a href="tel:8609292249">(860) 929-2249</a></p>
    </div>
    <div class="social-item">    
        <i class="far fa-envelope"></i>
        <p> <a href="mailto:support@kicks101.store">support@kicks101.store</a></p>
    </div>
    <div class="social-item">    
        <i class="fab fa-whatsapp"></i>
        <p> <a href="https://www.whatsapp.com">WhatsApp Link</a></p>
    </div>
</div>

