<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kicks101</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
    <div class="site-header">
        <div class="site-header-top">

            <div class="site-logo">
                <h1>Kicks101</h1>
            </div>
            <div class="product-search-menu">
                <p>=</p>
            </div>
        </div>
        <div class="site-header-lower">
            <div class="page-nav">
                <%- include('./partials/main.ejs'); %>
            </div>
        </div>
    </div>

    <%- body %>
</body>
</html>