/* 

GLOBAL FONTS 

font-family: 'Darker Grotesque', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Shadows Into Light Two', cursive;
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    background: #ecf0f3;
    font-family: 'Poiret One', cursive;
}

input, textarea {
    padding: 0;
    outline: none;
    border: none;
}

/* TODO */
.todo {
    background: rgba(255, 166, 0, 0.5);
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px;
    margin-top: 30px;
}
.todo ol, ul, li {
    margin-left: 30px;
}

.todo ol {
    list-style: upper-roman;
}
.todo ol>ol>li {
    margin-left: 30px;
    list-style: upper-alpha;
}
.todo ol>ol>ol>li {
    margin-left: 30px;
    list-style:decimal;
}
.todo ol>ol>ol>ol>li {
    margin-left: 30px;
    list-style:lower-alpha;
}



/* Site Forms */

.input-form {
    background: #ecf0f3;
    box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
    border-radius: 8px;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.input-form-title {
    text-align: center;
    padding: 10px;
}
.input-form-title h5 {
    font-family: 'Rock Salt', cursive;
    color: lightskyblue;
    font-size: 1.5rem;
}
.input-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-group label {
    background: red;
    display: block;
}
.input-group input {
    width: 80%;
    background: #ecf0f3;
    box-shadow: -4px -4px 6px #cbced1, 4px 4px 6px #ffffff;
    padding: 5px;
    border-radius: 4px;
    font-family: 'Poiret One', cursive;
    color: lightskyblue;
    transition: ease-in 0.25s;
}
.input-group input:focus {
    background: rgba(135, 206, 250, 0.75);
    color: #fff;
    transition: ease-in 0.25s;
}
.input-group input:focus::placeholder {
    color: rgba(135, 206, 250, 0.25);
    text-shadow: 0 0 1px #fff;
    transition: ease-in 0.25s;
}

.input-group textarea {
    width: 80%;
    background: #ecf0f3;
    box-shadow: -4px -4px 6px #cbced1, 4px 4px 6px #ffffff;
    padding: 5px;
    border-radius: 4px;
    font-family: 'Poiret One', cursive;
    color: lightskyblue;
    transition: ease-in 0.25s;
    resize: none;
    height: 60px;
}
.input-group textarea:focus {
    background: rgba(135, 206, 250, 0.75);
    color: #fff;
    transition: ease-in 0.25s;
}
.input-group textarea:focus::placeholder {
    color: rgba(135, 206, 250, 0.25);
    text-shadow: 0 0 1px #fff;
    transition: ease-in 0.25s;
}

.colors {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    padding: 5px;
}
.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    width: 40%;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
}
.color label {
    padding: 5px;
}
.color input {
    border-radius: 8px;
    box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
    outline: none;
    border: none;
    padding: 5px;
    height: 50px;

}

.input-form button {
    margin-top: 10px;
    min-width: 50%;
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    outline: none;
    border: none;
    background: #ecf0f3;
    box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
    border-radius: 8px;
    font-family: 'Rock Salt', cursive;
    font-size: 1.2rem;
    color: lightskyblue;
    text-shadow: 0 0 2px rgba(135, 206, 250, 0.5);
}
.input-form button:active {
    margin-top: 10px;
    width: 50%;
    padding: 8px;
    outline: none;
    border: none;
    background: lightskyblue;
    box-shadow: -4px -4px 6px #cbced1, 4px 4px 6px #ffffff;
    border-radius: 8px;
    transition: ease-in-out 0.25s;
}



/* SITE LINK HELPERS */
.site-link-helper {
    margin-top: 20px;
    text-align: center;
}
.site-link-helper p {
    color: #000;
}
.site-link-helper a {
    text-decoration: none;
    color: lightskyblue;
    font-weight: bold;
}



/* SITE HEADER */

.site-header {
    background: #fff;
    width: 100vw;
}
.site-header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.site-logo {
    max-width: 85vw;
    width: 85%;
    padding-right: 10px;
    padding: 0;
    text-align: right;
    position: relative;
    margin-top: -55px;
}
.site-logo h1 {
    right: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    color: lightskyblue;
    width: 100%;
    font-family: 'Rock Salt', cursive;
    position: absolute;
    z-index: 101;
    text-shadow: 0 0 4px #fff;
}
.site-logo img {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    z-index: 100;
    filter: drop-shadow(0 0 5px rgba(135, 206, 250, 0.5));
}

.go-back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.go-back-button a {
    text-decoration: none;
    color: lightskyblue;
    font-size: 1.2rem;
}    
.go-back-button i {
    padding-right: 10px;
}

.product-search-menu {
    max-width: 10vw;
    background: lightskyblue;
    padding: 15px;

}
.menu-break-line {
    margin-top: 15px;
    margin-bottom: 15px;
}
.menu-break-line hr {
    color: lightskyblue;
    width: 80%;
    margin: 0 auto;
    border: solid 2px lightskyblue;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px rgba(135, 206, 250, 0.5);
}
/* Page Title */
.page-title {
    width: 100%;
    text-align: center;
}
.page-title h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 1.8rem;
    color: lightskyblue;
}






/* Item Cards */

.item-card-container {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: scroll;
}

.item-card {
    width: 300px;
    background: #ecf0f3;
    box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
    border-radius: 12px;
    padding-top: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-card-main-image {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: hidden;
    min-height: 290px;
    box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
    border-radius: 8px;
}
.item-card-main-image img {
    min-width: 100%;
    max-width: 100%;
    min-height: 290px;
    border-radius: 8px;
}

.item-card-body {
    width: 90%;
    margin: 0 auto;  
    margin-top: 15px;
    margin-bottom: 15px;
    background: #ecf0f3;
    box-shadow: -4px -4px 6px #cbced1, 4px 4px 6px #ffffff;
    border-radius: 8px;   
}

.item-card-data {
    padding: 5px;
    margin-bottom: 15px;
    background: rgba(135, 206, 250, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: outset 2px rgba(135, 206, 250, 0.5);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.15);
}
.item-card-data-header {
    margin-bottom: 5px;
    border-bottom: solid 1px #fff;   
}
.item-card-data-header h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 1px lightskyblue;
}

.item-card-data-subheader {
    
}
.item-card-data-subheader h5 {
    color: #fff;
}

.item-card-description {
    padding: 10px;
    margin-bottom: 30px;
}

.item-card-price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.item-card-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 140px;
    max-width: 140px;
    margin-top: 15px;
    padding-bottom: 15px;
}
.item-card-data-price {
    width: 100px;
    max-width: 100px;
}

.item-card-data-price span {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
}

.item-card-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
    border-radius: 10px;
}
.item-card-button a {
    text-decoration: none;

    font-family: 'Rock Salt', cursive;
    color: lightskyblue;
    font-size: 1rem;
}

.item-card-button button{
    outline: none;
    border: none;
    max-width: 50px;
    overflow: hidden;
    font-family: 'Rock Salt', cursive;
    color: lightskyblue;
    font-size: 1rem;
    background: transparent;
}



/* ADMIN PAGES */

/* Admin Tables */

.admin-table {
    max-width: 95vw;
    width: 95vw;
    margin: 0 auto;
    margin-top: 20px;
}
.admin-table table {
    border-collapse: collapse;
    width: 100%;
}

.admin-table thead tr th {
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.admin-table tr {
    border-spacing: 0px;
}
.admin-table td {
    vertical-align: middle;
    padding: 4px;
}



.admin-table-image {
    width: 75px;
    border-radius: 8px;
    box-shadow: 4px 4px 6px #cbced1, -4px -4px 6px #ffffff;
}