<div class="product-filter-container-landscape">
    <div class="product-filter">
        <div class="filter-options-header">
            <h6>Filter By Type</h6>
        </div>
        <div class="filter-options">
            <div class="filter-option"><a href="/products/type/Sneaker">Sneakers</a></div>
            <div class="filter-option"><a href="/products/type/Outerwear">Outerwear</a></div>
            <div class="filter-option"><a href="/products/type/T-Shirt">T-Shirts</a></div>
            <div class="filter-option"><a href="/products/type/Accessory">Accessories</a></div>
        </div>
    </div>

    <div class="product-filter">
        <div class="filter-options-header">
            <h6>Filter By Brand</h6>
        </div>
        <div class="filter-options">
            <% companies.forEach(function(manufacturer) { %>
                <div class="filter-option"><a href="/products/manufacturer/<%= manufacturer.id %>">
                        <%= manufacturer.name %>
                    </a></div>
            <% }) %>
        </div>
    </div>


</div>